PORT=3000
OIDC_ISSUER=http://localhost:8080/realms/argo-status-pages
OIDC_AUDIENCE=argo-status-pages-api
OIDC_CLIENT_ID=argo-status-pages-api
OIDC_CLIENT_SECRET=480bf07980f7e5fb6dd4d2027d68fbb9a9bda55b92c64c307fc8a1c3b286b8e9
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/statuspages
SECRET_KEY=f176460b850aea123d4ac8654e7714f92587dbb4d0972e1d8170952fff3bef0a
CORS_ORIGIN=https://localhost:5173
